@font-face {
    font-family: 'Aniron';
    src: url('Aniron-Bold.eot');
    src: url('Aniron-Bold.eot?#iefix') format('embedded-opentype'),
        url('Aniron-Bold.woff2') format('woff2'),
        url('Aniron-Bold.woff') format('woff'),
        url('Aniron-Bold.ttf') format('truetype'),
        url('Aniron-Bold.svg#Aniron-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Party Business';
    src: url('PartyBusiness.eot');
    src: url('PartyBusiness.eot?#iefix') format('embedded-opentype'),
        url('PartyBusiness.woff2') format('woff2'),
        url('PartyBusiness.woff') format('woff'),
        url('PartyBusiness.ttf') format('truetype'),
        url('PartyBusiness.svg#PartyBusiness') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnironC';
    src: url('AnironC.eot');
    src: url('AnironC.eot?#iefix') format('embedded-opentype'),
        url('AnironC.woff2') format('woff2'),
        url('AnironC.woff') format('woff'),
        url('AnironC.ttf') format('truetype'),
        url('AnironC.svg#AnironC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aniron';
    src: url('Aniron.eot');
    src: url('Aniron.eot?#iefix') format('embedded-opentype'),
        url('Aniron.woff2') format('woff2'),
        url('Aniron.woff') format('woff'),
        url('Aniron.ttf') format('truetype'),
        url('Aniron.svg#Aniron') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnironC';
    src: url('AnironC-Bold.eot');
    src: url('AnironC-Bold.eot?#iefix') format('embedded-opentype'),
        url('AnironC-Bold.woff2') format('woff2'),
        url('AnironC-Bold.woff') format('woff'),
        url('AnironC-Bold.ttf') format('truetype'),
        url('AnironC-Bold.svg#AnironC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tengwar Annatar';
    src: url('TengwarAnnatar-Italic.eot');
    src: url('TengwarAnnatar-Italic.eot?#iefix') format('embedded-opentype'),
        url('TengwarAnnatar-Italic.woff2') format('woff2'),
        url('TengwarAnnatar-Italic.woff') format('woff'),
        url('TengwarAnnatar-Italic.ttf') format('truetype'),
        url('TengwarAnnatar-Italic.svg#TengwarAnnatar-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tengwar Annatar';
    src: url('TengwarAnnatar-Bold.eot');
    src: url('TengwarAnnatar-Bold.eot?#iefix') format('embedded-opentype'),
        url('TengwarAnnatar-Bold.woff2') format('woff2'),
        url('TengwarAnnatar-Bold.woff') format('woff'),
        url('TengwarAnnatar-Bold.ttf') format('truetype'),
        url('TengwarAnnatar-Bold.svg#TengwarAnnatar-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tengwar Annatar';
    src: url('TengwarAnnatar.eot');
    src: url('TengwarAnnatar.eot?#iefix') format('embedded-opentype'),
        url('TengwarAnnatar.woff2') format('woff2'),
        url('TengwarAnnatar.woff') format('woff'),
        url('TengwarAnnatar.ttf') format('truetype'),
        url('TengwarAnnatar.svg#TengwarAnnatar') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tengwar Annatar';
    src: url('TengwarAnnatar-BoldItalic.eot');
    src: url('TengwarAnnatar-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TengwarAnnatar-BoldItalic.woff2') format('woff2'),
        url('TengwarAnnatar-BoldItalic.woff') format('woff'),
        url('TengwarAnnatar-BoldItalic.ttf') format('truetype'),
        url('TengwarAnnatar-BoldItalic.svg#TengwarAnnatar-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

